<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DAB Demo Project">

 <test name="TestNewDefaultSaftey">
 
 	 
  <parameter name="excelFilePath"  value="C:\Users\Administrator\workspace\axion\src\test\resources\TestInputdata.xls" /> 	 
  <parameter name="screenDumpPath" value="C:\DAB-Test-Results\TestNewDefaultSaftey" /> 	 
  <parameter name="excelSheet_UK_Top_Url" value="UK_TOP_URL" />     
  <parameter name="excelSheet_Blacklist_Url" value="BLACKLIST_URL" /> 
  <parameter name="excelSheet_Iwf_Url" value="IWF_URL" /> 
  <parameter name="excelSheet_Over_18_Url" value="OVER18_URL" /> 
  <parameter name="gatewayId" value="0A" />
	
    <classes>
     <class name="axion.dab.test.com.testNewDefaultSaftey"/> 
    </classes>
    
 </test> <!-- TestDemoFeature1 -->
 
 
  <test name="TestFaceBook">
 
 	    <parameter name="screenDumpdestDir" value = "C:\\DAB-Test-Results\\TestFaceBook" />
		<parameter name="appPackage"  value = "com.facebook.katana"/>
		<parameter name="appActivity" value = "com.facebook.katana.dbl.activity.FacebookLoginActivity"/>
		<parameter name="userName" value = "100013277115712"/>
		<parameter name="passWord" value = "Narmadha83@"/>
	
    <classes>
    <class name="axion.dab.test.com.testFacebook"/> 
    </classes>
    
 </test>  
   
    <listeners>
		<listener class-name="atu.testng.reports.listeners.ATUReportsListener"></listener>
		<listener class-name="atu.testng.reports.listeners.ConfigurationListener"></listener>
		<listener class-name="atu.testng.reports.listeners.MethodListener"></listener>
	</listeners>
	
</suite> <!-- DAB -->
